@charset "UTF-8";

.customoverlay {
	position: relative;
	bottom: 85px;
	border-radius: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ddd;
	float: left;
}

.customoverlay:nth-of-type(n) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.customoverlay a {
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	border-radius: 6px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	background: #e7438b;
	background: #e7438b
		url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
		no-repeat right 14px center;
}

.customoverlay .title {
	display: block;
	text-align: center;
	background: #fff;
	margin-right: 35px;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: bold;
}

.customoverlay:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: -12px;
	width: 22px;
	height: 12px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}

.clJoinOkBtn {
	border: none;
	outline: 0;
	cursor: default;
	width: 100%;
	font-weight: 1000;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: #59bfbf;
	font-size: 120%;
	margin: 8px 0px;
}

.hr-sect::before, .hr-sect::after {
	content: "";
	flex-grow: 1;
	background: #59bfbf;
	height: 2px;
	margin: 0px 16px;
}

.clUser {
	display: inline !important;
}

.clContent .clContentLeft {
	width: 100%;
	height: auto;
	font-weight: 1000;
}

.clContent .clContentLeft div {
	width: 100%;
	height: auto;
}

.clContent .clContentLeft .clContentTitle p {
	color: #59bfbf;
	font-size: 180%;
}

.clContent .clContentLeft .clContentSummary p {
	color: #4c5454;
	font-size: 100%;
}

.clContent .clContentLeft .clContentThumnail img {
	width: 100%;
	height: 450px;
	border-radius: 5px;
}

.clContent .clContentRight {
	width: 100%;
	height: auto;
	font-weight: 1000;
}

.clContent .clContentRight .clContentDetailHaed button {
	background-color: #59bfbf;
	color: #ffffff;
	border-radius: 0;
	cursor: default;
}

.clContent .clContentRight .clContentDetailBody {
	border: 2px solid #59bfbf;
	width: 100%;
	height: auto;
	font-weight: 1000;
}

.clContent .clContentRight .clContentDetailBody .list-group {
	width: 100%;
}

.clContent .clContentRight .clContentDetailBody .list-group .list-group-item {
	border: none;
}

.clContent .clContentRight .clContentDetailBody .list-group .applyMenu .classJoinForm .applyBtn {
	width: 100%;
	font-weight: 1000;
	background-color: #59bfbf;
	color: #ffffff;
	border: none;
	outline: 0;
	border-radius: 10px;
}

.clContent .clContentRight .clContentDetailBody .list-group .applyMenu .classJoinForm .applyBtn:hover {
	background-color: #e7438b;
	border: none;
	outline: 0;
}

.clContent .clContentRight .clContentDetailBody .diff .clDiffGroup button
	{
	display: inline;
	color: #ffffff;
	background-color: #26274c;
	border: none;
	font-size: 100%;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	cursor: default;
	outline: 0;
	font-weight: 800;
}

.clContent .clContentRight .clContentDetailBody .diff .clDiffGroup .clDiffBtnSelect
	{
	color: #ffffff;
	background-color: #e7438b;
	border: none;
	outline: 0;
}

.clContent .clContentRight .clContentDetailBody .diff .clDiffGroup .clDiffBtnE,
	.clDiffBtnN {
	margin-right: 10px;
}

.clContent .clContentRight .clContentDetailBody .clPlaceMap #map {
	width: 100%;
	height: 300px;
	overflow: auto;
	border-radius: 5px;
}

.clContent .clContentRight .clContentDetailBody .menuBtn button {
	width: 70px;
	height: 70px;
	background-color: #e5e5e5;
	color: #26274c;
}

.clContent .clContentRight .clContentDetailBody .menuBtn button:hover {
	background-color: #e7438b;
	color: #ffffff;
}

.clContent .clContentRight .clContentDetailBody .applyMenu .classJoinForm .modal-header
	{
	background-color: #59bfbf;
}

.clContent .clContentRight .clContentDetailBody .applyMenu .classJoinForm .modal-header p
	{
	font-size: 120%;
	color: #ffffff;
}

.clContent .clContentRight .clContentDetailBody .applyMenu .classJoinForm .modal-body p img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.clContent .clContentRight .clContentDetailBody .applyMenu .classJoinForm .modal-body .table {
	font-size: 110%;
}

.clContent .clContentRight .clContentDetailBody .applyMenu .classJoinForm .modal-footer
	{
	display: table;
}

.clContent .clContentRight .clContentDetailBody .applyMenu .classJoinForm .modal-footer .cjoinBtn button
	{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	color: #59bfbf;
}

.clContent .clContentRight .clContentDetailBody .applyMenu .classJoinForm .modal-footer .cjoinBtn button:hover
	{
	background-color: #e7438b;
	color: #ffffff;
}

.clContent .clQuestion {
	width: 100%;
}

.clContent .clQuestion .questionForm {
	width: 100%;
	font-weight: 800;
}

.clContent .clQuestion .questionForm table {
	width: 100%;
}

.questionBtn {
	width: 80%;
	background-color: #59bfbf;
	border: none;
	color: #ffffff;
}