@charset "UTF-8";

.classQuestionA .card-body .card-inner {
	margin-left: 4rem;
	border:none;
}

.classQuestionA .card-body .card-inner .card-body {
	background-color:#dae0e547;
}

.classQuestionA .card-body .card-inner .card-body .row .col-md-2 .qprofile {
	border-radius:50%;
	width:65px;
	height:65px;
	margin-bottom:10px;
}

.classQuestionA .card-body .card-inner .card-body .row .col-md-2 .text-secondary {
	font-size:80%;
}

.classQuestionA .card-body .card-inner .card-body .row .col-md-10 .clQcontent {
	height:100px;
	width:100%;
	display:table-cell;
	vertical-align:middle;
}

.classQuestionA .card-body .card-inner .card-body .row .col-md-10 .cqMenuBtn a {
	color:#ffffff; 
	cursor: pointer;
}

.classQuestionB .card-body .row .col-md-2 .qprofile {
	border-radius:50%;
	width:65px; 
	height:65px;
	margin-bottom:10px;
}

.classQuestionB .card-body .row .col-md-2 .text-secondary {
	font-size:80%;
}

.classQuestionB .card-body .row .col-md-10 .clQcontent {
	height:100px;
	width:100%;
	display:table-cell;
	vertical-align:middle;
}

.classQuestionB .card-body .row .col-md-10 .cqMenuBtn a {
	color:#ffffff;
	cursor: pointer;
}

.comment .card-inner {
	margin-left: 4rem;
}

.comment .card-inner .card-body .row .col-md-2 img {
	border-radius:50%;
	width:65px;
	height:65px;
	margin-bottom:10px;	
}

.comment .card-inner .card-body .row .col-md-2 .commentUser b {
	color:#59bfbf;
	font-size:100%;
}

.comment .card-inner .card-body .row .col-md-2 .text-secondary {
	font-size:80%;
}

.comment .card-inner .card-body .row .col-md-10 p button {
	width:40px; 
	border:none; 
	background-color:#e7438b; 
	color:#ffffff; 
	cursor: pointer;" 
}

.commentModify textarea {
	border:none; 
	width:650px;
}

.commentModify p button {
	width:40px; 
	border:none; 
	background-color:#e7438b; 
	color:#ffffff; 
	cursor: pointer;" 	
}













