@charset "UTF-8";

/* 모든 게시판 공통 스타일 */
section{padding:40px 0;}


/* 유저버튼 */
.userBtn{color: #3e3e3e;font-weight: bold;display: block;}
.userBtn:hover{color:#59bfbf!important;}
.dropdown-menu{height: 115px;padding: 10px!important;}
.dropdown-menu li{margin:5px 0;}
.dropdown-menu li a{cursor: pointer;color:#59bfbf!important;font-size:14px;}
/* 유저버튼 */