@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
	overflow-x:hidden; 
}
#chatRoomListWrap{
	right:-350px!important;
}
.side_show{
	left: 0!important;
}
#main {
	position:absolute;
	right:0;
	top:0;
	transition: margin-right .5s;
	margin-top: 100px;
	margin-right: 5px;
	transform: rotate(-90deg);
}
.sidebar_wrap{position: relative;}
.chatBtn{
	border-radius: .25rem .25rem 0 0;
    padding: 10px;
    box-shadow: initial;
    height: 50px;
    background-color: #e7438b;
    color:#fff;
    border: initial;
}
.thiunder_icon{margin-left: 8px!important;}
.sidebar {
	position: fixed;
	width: 350px;
    top: 0;
    left: -350px;
    height: 100%;
    z-index: 9999;
	transition: all 0.5s;
	background-color: #F0F0F0;
	overflow-x: hidden;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
	color: #e7438b;
}

.side_bar_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 998;
    display: none;
}

#chatRoomMakeForm>.btn {
	color: #59bfbf;
}

#chatHead img {
	max-width: 55%;
	height: auto;
}

#mySidebar .modal-dialog {
	max-width: 40%;
	width: auto;
	display: table;
}

#mySidebar .modal-header>.logo {
	max-width: 8%;
	height: auto;
}

#mySidebar .modal-header b {
	color: #e7438b;
}

#mySidebar .modal-body h5 {
	text-align: center;
}

#mySidebar .modal-content {
	color: #26274c;
	font-size: 20px;
}

#mySidebar .modal-footer .btn {
	background-color: #59bfbf;
	color: #ffffff;
	min-width: 100px;
}

#mySidebar .modal-footer .btn:hover {
	background-color: #e7438b;
}

.input-group-prepend .btn-default {
	background-color: #59bfbf;
	color: #ffffff;
	min-width: 120px;
}

#mkChatBtn {
	cursor:pointer; 
	
}

#chatList {
	width: 325px;
	font-size: 0.9rem;
}

#chatList>div {
	margin-left: 25px;
}

ul>.list-group-item {
	background-color: #59bfbf;
	color: #ffffff;
}

.list-group #ct {
	color: #26274c;
}

.list-group-item span {
	float: right;
}

.list-group-item button {
	color: #e7438b;
}

#moreBtn_div #moreBtn_a {
	color: #59bfbf;
}

.scrolltop {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 60px;
	z-index: 1030;
	font-size: 2rem;
	color: #e7438b;
	transition: all 0.5s ease-in-out;
	opacity: 0.5;
}

.scrolltop:hover, .scrolltop:focus {
	color: #9c0e4c;
	transition: all 0.5s ease-in-out;
}