@charset "UTF-8";

/*
* 마이페이지 css 부
*/
.bordered a {
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

.info {
	margin: 0 auto;
}

#table {
	text-align: center;
	height: 337px;
	width: 100%;
}

.info td {
	padding: 10px 0;
}

.trColor {
	color: #e7438b;
	font-weight: bold;
	font-size: 15px;
	height: 130px;
}

.trColor td {
	font-size: 20px;
	line-height: 60px;
}

.input-title {
	font-weight: bold;
	font-size: 16px;
	color: #59bfbf;
	width: 150px
}

.required {
	color: #e7438b;
	margin-right: 10px;
}

.drop {
	font-size: 12px;
	margin-left: 30px;
}

p {
	margin: 0;
	padding: 0;
}

.img-circle {
	width: 150px;
	margin-left: 20%;
	overflow: hidden;
	border-radius: 50%;
}

#register_Btn, #changeImg {
	width: 35%;
	font-size: 0.9rem;
	border-radius: 7px;
	background: #59bfbf;
	border: none;
}

#mypagenickNameCheck, #charge, #pointBtn {
	font-size: 0.8rem;
	border-radius: 7px;
	padding: 5px 10px;
	background: #59bfbf;
	color: white;
	border: none;
}

#submit {
	font-size: 0.7rem;
	border-color: gray;
	border-radius: 7px;
}

.content_tr th {
	font-size: 14px;
}

#searchBtn {
	font-size: 0.7rem;
	border-color: gray;
	border-radius: 7px;
}

#table th {
	font-size: 16px;
	height: 40px;
	text-align: center;
	background-color: #59bfbf;
	color: white;
}

#table {
	width: 80%;
	margin: 0 auto;
}

#table td {
	font-size: 2rem;
	height: 110px;
	color: #e7438b;
}

.myinfoHeader {
	text-align: center;
	color: #59bfbf;
}

.text-wrap td {
	height: 50px;
}

.myinfo-wrap h3, .myclass-wrap h3 {
	color: #59bfbf;
}

.infoUpdate {
	background-color: #59bfbf;
}

#myinfobtn, #mycontentbtn, #myscrapbtn, #mypointbtn, #myclassbtn {
	margin-right: 20px;
	width: 10%;
	background-color: #59bfbf;
}

.btn-info {
	border: none;
}

tr.bordered {
	border-bottom: 1px solid #BDBDBD;
}

tr.bordered td {
	padding-left: 20%;
}

	.page-link {
	border:none;
	margin-left: 20px;
	color: #26274c;
	background: #ffffff;
	font-weight: 700;
}

.page-link:hover {
	background: #59bfbf;
	color: #ffffff;
}
.text-wrap{
	
}
.text_bold {
	color: #59bfbf;
	font-weight: bold;
	font-size: 1.25rem;
}
tr.bordered {
	border-bottom: 1px solid #BDBDBD;
}
th{
	font-size:0.75rem;
}
td{
	font-size:0.8rem;
}
.po_In{
	color : #59bfbf;
}
.po_Out{
	color: #e7438b;
}

.choosePick{
	text-align: center;
    max-width: 400px;
    margin-top: 5px;
}
.choosePick #file_route{
	vertical-align: middle;
    display: block;
    width: 300px;
    line-height: 28px;
    font-size: 11px;
    padding: 0;
    border: 0;
    margin: 0 auto;
    box-shadow: 0 0 black;
    text-align: center;
}
.choosePick label{
	padding: 5px 10px!important;
    font-size: 14px!important;
    vertical-align: initial!important;
    cursor: pointer!important;
    width: 100px;
    background: #59bfbf;
    color: #fff;
    border: initial;
    border-radius: 10px;
    text-align: center;
}
.choosePick label input{
	position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}
/*

회원탈퇴 css

*/
.required {
	color: #e7438b;
	margin-right: 10px;
}

.form-group {
	margin: 0 auto;
	width: 80%;
	text-align: center;
}

#dropBtn {
	background-color: #59bfbf;
	width: 31%;
}

.drop_form {
	text-align: center;
}

/*
	
	포인트
	
	*/
.charge_point {
	display: inline-block;
}

#charge_point .modal-header .close {
	font-size: 32px !important;
	font-weight: 500 !important;
}

#charge_point .modal-body {
	padding: 0 !important;
}

#charge_point .modal-footer {
	border-top: initial !important;
}

.tit_wrap {
	overflow: hidden;
	background: #4acccc;
	padding: 10px 20px;
	color: #fff;
	border-top: 1px solid #000;
	font-size: 18px;
}

.tit_wrap span {
	float: left;
}

.tit_wrap .tit_cost {
	float: right;
}

.point_wrap label {
	overflow: hidden;
	display: block;
	padding: 15px;
	border-bottom: 1px solid #e6e6e6;
}

.point_wrap label input {
	margin-top: 3px;
	margin-right: 5px;
	float: left;
	width: initial;
}

.point_wrap label span {
	float: left;
}

.point_wrap label .cost {
	float: right;
}

#charge_point .chargeBtn {
	display: block;
	width: 280px;
	margin: 10px auto;
	background: #4acccc;
	color: #fff;
	padding: 10px 0;
	cursor: pointer;
}