@charset "UTF-8";

/* login / Join 공통 */
.input-title{font-weight:bold; font-size:16px; color:#59bfbf; width:150px}
.required{color:#e7438b;margin-right: 10px;}
.sc-title{text-align: center;font-size: 22px;position: relative;margin-bottom:40px;}
.sc-title:before{
	content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    background: #000;
    }
.sc-title:after{
	content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
}
.lg-inputBox{width: 280px;}
button:focus{outline: initial!important;}
/* login / Join 여기까지 */

/* login */
.loginMainTitle{
	text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    letter-spacing: 0.08rem;
}
.loginMainTitle img{
	vertical-align: top;
    margin: 0 6px 0 3px;
    max-width: 5%;
}

.rememberMeCheck{
	font-size:13px;
}
.rememberMeCheck input{
	font-size:16px;
}
.loginOrRegister{
	margin-top: 30px;
}
.loginBtn button{
	background: #000;
    color: #fff;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    letter-spacing: 0.5rem;
    border-radius: 10px;
}
.registerBtn{
	margin-top:10px;
}
.registerBtn a{
	background: transparent;
    border: 1px solid #000;
    color: #000;
    font-weight: bold;
    width: 100%;
    padding: 10px 0;
    letter-spacing: 0.5rem;
    display: block;
    text-align: center;
    border-radius: 10px;
}
.registerBtn a:hover{text-decoration: none;color:#000;}
.forgotBtn{
	margin:10px 0;
}
.forgotBtn a{
	text-decoration: none;
    color: #000;
}
.sc-snsLogin{
	padding: 0 0 80px!important;
}
.snsBtnWrap{
	border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.snsLoginTitle{
	text-align:center;
	margin-top:15px;
	letter-spacing: 0.5rem;
}
.sns_login_button{
	margin: 15px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sns_login_button span{
	margin:0 15px;
}
.naverBtn{
	width:45px;
	border: none;
	cursor: pointer;
}
.kakaoBtn, .googleBtn{
	width:50px;
	border: none;
	cursor: pointer;
}
span img{
	max-width:100%;
}
.custom-select{
	height: calc(2rem)!important;padding: 0 1.75rem 0 .75rem!important;
	vertical-align: initial!important;font-size: 14px;
	}
	
.uPhone_2, .uPhone_3{
	width:120px;
	}
/* login 여기까지 */

/* join */
.sc-chooseJoin{
	padding: 80px 0!important;
}
.sc-chooseJoin .welcomeEE{
	text-align: center;
    font-weight: bold;
    color: #59bfbf;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    line-height: 42px;
}
.sc-chooseJoin .welcomeEE span{
	color: #e7438b;
    font-size: 40px;
}
.sc-chooseJoin .subTitle{
	text-align: center;
    font-size: 14px;
}
.sc-chooseJoin .subTitle img{
	max-width: 2%;
    vertical-align: top;
    margin: 0 5px 0 3px;
}
.sc-chooseJoin .normalBtnWrap{
	margin-top:40px;
}
.sc-chooseJoin .snsBtnWrap{
	margin-top:30px;
}
.sc-chooseJoin .isMember{
	font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin: 30px 0 0 0;
}
.sc-chooseJoin .isMember a{
	color: #1f1f1f;
}
#MainTxt {text-align: center;margin: 80px 0 0;}
#MainTxt .logoImg{width: 22%; margin: 0 auto}
#MainTxt .logoImg img {max-width: 100%}
#MainTxt .subTxt{color:#59bfbf;}
.agree_content{border: 1px solid #000;
    padding: 10px;
    height: 150px;
    overflow: overlay;
    margin: 0 20px;
    font-size:12px;}
.agreeCheck{display: inline-block;margin: 10px 20px 40px;}
.joinForm-wrapper table td {padding: 10px 0;}
.email_input_01{width:100px;}
.email_input_02, #emailAuth{width:150px;}
checkEmailAuth {padding: 0 0 10px;}
#emailBtn, #emailAuthBtn, #nickNameCheck, #phoneNumCheck{
	padding: 5px 10px!important;
    font-size: 14px!important;
    vertical-align: initial!important;
    cursor: pointer!important;
    margin: 0 10px;}
.btn-submit{
	width: 280px!important;
    border-radius: 15px!important;
    margin: 40px auto!important;
    display: block!important;
    color:#fff;
    background-color:#59bfbf;
    cursor: pointer!important;;
}
.basic_img{
	width:30%;
	border-radius:50%;
}
#register_Btn{
	margin : 0 40px!important;
	padding: 7px 12px!important;
    font-size: 13px!important;
    vertical-align: initial!important;
    cursor: pointer!important;
}
.profile{
	margin:10px 100px;
}
.info_profile{
	margin-left : 60px!important;
	font-size : 12px;
	color : gray;
}
.company-box{margin-bottom:60px;}
.sns_login_button{display: flex;align-items: center;justify-content: center;}
.sns_login_button span{margin:0 15px;}
button{border: none;cursor: pointer;width:80px;}
.btn-normalJoin{width: 380px;font-weight: bold;color: #fff;background-color:#59bfbf}
.btn-normalJoin:hover{opacity:0.6;}
.snsJoin{margin-top:30px;}
/* join 여기까지 */